*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 1,300;
    font-style: italic;

}
.header{
    text-align: center;
    font-size: 28px;

}
.footer{
    text-align: center;
}
h1,h2,h3{
    font-family: 'Permanent Marker', cursive;
}
